.game-grid {
    -fx-background-color: red;
}
.game-grid-cell {
    -fx-background-color: black, white ;
    -fx-background-insets: 0, 0 1 1 0 ;
}
.game-grid-cell.first-row {
    -fx-background-insets: 0, 1 1 1 0 ;
}
.game-grid-cell.first-column {
    -fx-background-insets: 0, 0 1 1 1 ;
}
.game-grid-cell.first-row.first-column {
    -fx-background-insets: 0, 1 ;
}

.menu-vbox {
	-fx-background-color: linear-gradient(to bottom right, red, black);
	-fx-spacing: 10px;
}

.menu-button {
	-fx-background-color: linear-gradient(#ff5400, #be1d00);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
	-fx-padding: 10 40 10 40;
	-fx-font-size: 20px;
}

.menu-button:hover { 
	-fx-scale-x: 1.1;	
	-fx-scale-y: 1.1;
	-fx-font-weight: 900;
}

.promptbox {
	-fx-spacing: 10px;
	-fx-background-color: linear-gradient(to bottom right, red, black);
	-fx-padding: 10 40 10 40;
}

.notification {
	-fx-text-fill: white;
	-fx-font-size: 16px;
}